* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cabinet Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  /* color: white; */
  /* background-color: #0E1521; */
  font-weight: 600;
}

:root {
  --dark: #141414;
  --grey: #b6b6b6;
  --white: white;
  --primary:#226DF4;
  --greyWhite:#757575;
  
}

.flex-center-x {
  display: flex;
  align-items: center;
}